* {
  margin: 0;
  padding: 0;
}

.button {
  margin: 8px;
  padding: 8px;
  cursor: pointer;
  user-select: none;
  border: 1px solid #696969;
  border-radius: 4px;
}

.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 8px;
  overflow-y: scroll;
  width: calc(100% - 16px);
  height: 50vh;
  list-style: none;
  border: 1px solid #696969;
  border-radius: 4px;
  background-color: #343434;
}
.dropdown-menu > li {
  padding: 8px 8px;
  cursor: pointer;
}
.dropdown-menu > li:hover {
  background-color: #4A4A4A;
}

body {
  color: #FFFFFF;
  background-color: #1E1E1E;
}

footer {
  padding: 8px;
  text-align: center;
}

#app {
  max-width: 680px;
  margin: 0 auto;
}

.character-dropdown > .button {
  display: block;
}

.panel {
  display: flex;
  flex-flow: column nowrap;
  margin: 8px;
  list-style: none;
}
.panel > li {
  display: flex;
  flex-flow: row nowrap;
}
.panel-name {
  margin-right: auto;
}
.panel-value {
  margin-left: auto;
}
