* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.btn {
  cursor: pointer;
  user-select: none;
}

.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 8px;
  overflow-y: auto;
  width: calc(100% - 16px);
  height: fit-content;
  max-height: 50vh;
  list-style: none;
  border: 1px solid #696969;
  border-radius: 4px;
  background-color: #343434;
}
.dropdown-menu > li {
  padding: 8px 8px;
  cursor: pointer;
}
.dropdown-menu > li:hover {
  background-color: #4A4A4A;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal {
  display: flex;
  flex-flow: column nowrap;
  max-width: 896px;
  max-height: 80vh;
  margin: 5vh auto;
  border: 1px solid #696969;
  border-radius: 4px;
  background-color: #343434;
}
.modal-header {
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #696969;
}
.modal-header > h1 {
  font-size: 16px;
}
.modal-header > .btn {
  margin-left: auto;
}
.modal-content {
  overflow-y: auto;
  padding: 16px;
}

.grid-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}
.grid-list > li {
  margin: 8px;
}

body {
  color: #FFFFFF;
  background-color: #1E1E1E;
}

footer {
  padding: 8px;
  text-align: center;
}

#app {
  max-width: 680px;
  margin: 0 auto;
}

.block {
  display: block;
  margin: 8px;
  padding: 8px;
  border: 1px solid #696969;
  border-radius: 4px;
}

.filter {
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  width: 100%;
  margin-bottom: 16px;
}
.filter .btn {
  min-width: 40px;
  margin: 4px;
}
.filter .btn.active {
  --avatar-border-color: #FFFFFF;
}

.avatar {
  display: flex;
  flex-flow: column nowrap;
  --avatar-border-color: #000000;
}
.avatar > img {
  border: 2px solid;
  border-color: var(--avatar-border-color);
  border-radius: 50%;
}
.avatar > span {
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: fade;
}

.panel {
  display: flex;
  flex-flow: column nowrap;
  margin: 8px;
  list-style: none;
}
.panel > li {
  display: flex;
  flex-flow: row nowrap;
}
.panel-name {
  margin-right: auto;
}
.panel-value {
  margin-left: auto;
}
